<!doctype html>
<html>
<head>
  <title> Robo-Huntting </title>
  <meta charset="utf-8">
  <link
  rel="stylesheet" href="/main.css" >
</head>

<body>
    <main class="container">
      {{#users}}
        <div class="robo">
          <img src={{avatar}}>
          <h1>{{name}}</h1>
          <p>{{company}}</p>
        </div>
      {{/users}}
    </main>

</body>


</html>